bin/
autom4te.cache/
*.sh
*.m4
*.pyc
*Makefile
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/py-compile
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.o
jack_midi_looper
jmlgui
